<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>送金処理が完了しました</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sendfinish.css' %}">
</head>
<body>
    <div class="complete-container">
        <div class="complete-icon">
            <img src="{% static 'images/approval.png' %}" alt="Complete Icon">
        </div>
        <p class="complete-message">送金処理が完了しました</p>
        <a href="{% url 'home' %}" class="return-button">トップ画面に戻る</a>
    </div>
</body>
</html>
